#set($layout = "qiye/layout/commonLayout.vm")
#set($jsfiles = [
	"${rc.contextPath}/js/qiye/test/test.js"
])
<form id='frm' method='post'>
	<input type='text' name='user.username' value='admin'>
	<input type='text' name='user.password' value='111111'>
	<input type='button' value='提交' id='btn1'>
</form>
<div id="content"> 
<p>在我的后面追加一条新闻</p> 
</div> 
<span>将我包含在div中</span>

<p>p内容</p> 
<p>p内容</p> 
<p>p内容</p> 
<p>p内容</p> 
<p>p内容</p>

<script>
$(document).ready(function(){
	$("#btn1").click(function(){
		$("#frm").attr("action", "$!{rc.contextPath}//qiye/test/test/user.do");
		$("#frm").submit();
	});
	
	//$("#content").append("<p>姚明退役了...</p>");//在content内部最后添加
	//$("#content").prepend("<p>头部</p>");//在content内部最前面添加

	//$("<p>姚明退役了...</p>").appendTo("#content");//在content内部最后面添加
	//$("<p>姚明退役了...</p>").prependTo("#content");//在content内部最前面添加

	//$("#content").after("<p>姚明退役了...</p>");//在content同级后面添加
	//$("#content").before("<p>头部</p>");//在content同级前面添加
	
	//$("span").wrap("<b></b>");
	//$("p").wrapAll("<div style='border:1px solid red'><p></p></div>");
	//$("p").wrapInner("<b></b>"); 
});
</script>