#set($layout = "qiye/layout/commonLayout.vm")
#set($jsfiles = [
	"${rc.contextPath}/script/commonSelector.js",
	"${rc.contextPath}/js/qiye/test/test.js"
])
  <table width="100%" border="0" cellspacing="0" cellpadding="0" class="im_tr f12">
    <tr>
      <td width="15%" class="im_tr_a text_right text_space_right">日期选择：</td>
      <td width="35%" class="text_space_left text_left">
		<input type="text" name='yxrq1' value="" onclick="MyCalendar.SetDate(this)"/>
	  </td>
      <td width="15%" class="im_tr_a text_right text_space_right">数据字典下拉框：</td>
      <td width="35%" class="text_space_left text_left">
        <select name="sblb" class="select_12">
       	   $HtmlUtil.printDictOptions('sblx', true, "2")
        </select>
      </td>
    </tr>
    <tr>
      <td width="15%" class="im_tr_a text_right text_space_right">复选框：</td>
      <td width="35%" class="text_space_left text_left">
		<input type="checkbox" id='sfsj' name='sfsj' value="1" checked/><label for="sfsj" class="mr_10">chk1</label>
		<input type="checkbox" id='sfzz' name='sfzz' value="1" />		<label for="sfzz" class="mr_10">chk2</label>
		<input type="checkbox" id='sfaz' name='sfaz' value="1" checked/><label for="sfaz" class="mr_10">chk3</label>
		<input type="checkbox" id='sfgz' name='sfgz' value="1" />		<label for="sfgz" class="mr_10">chk4</label>
		<input type="checkbox" id='sfwx' name='sfwx' value="1" checked/><label for="sfwx" class="mr_10">chk5</label>
	  </td>
      <td width="15%" class="im_tr_a text_right text_space_right">常量下拉框：</td>
      <td width="35%" class="text_space_left text_left">
        <select name="qstatus" class="select_12">
			$!HtmlUtil.printOptions(["1","9"], ["保存", "已注销"], true, "1")
		</select>
	  </td>
    </tr>
    <tr>
      <td width="15%" class="im_tr_a text_right text_space_right">单选：</td>
      <td width="35%" class="text_space_left text_left">
		<input type="hidden" id='dxid' value=""/>
		<input type="text" id='dxmc' value=""/>
        <input type="button" value="选择" style="width:50px;" onclick="showListSelectWin()"/>
	  </td>
      <td width="15%" class="im_tr_a text_right text_space_right">多选：</td>
      <td width="35%" class="text_space_left text_left">
		<input type="hidden" id='dxid2' value=""/>
		<input type="text" id='dxmc2' value=""/>
        <input type="button" value="选择" style="width:50px;" onclick="showListSelectWin2()"/>
	  </td>
	</tr>
    <tr>
      <td width="15%" class="im_tr_a text_right text_space_right">树单选：</td>
      <td width="35%" class="text_space_left text_left">
		<input type="hidden" id='trid' value=""/>
		<input type="text" id='trmc' value=""/>
        <input type="button" value="选择" style="width:50px;" onclick="showSelectTreeWin()"/>
	  </td>
      <td width="15%" class="im_tr_a text_right text_space_right">树多选：</td>
      <td width="35%" class="text_space_left text_left">
		<input type="hidden" id='trid2' value=""/>
		<input type="text" id='trmc2' value=""/>
        <input type="button" value="选择" style="width:50px;" onclick="showSelectTreeWin2()"/>
	  </td>
	</tr>
    <tr>
      <td width="15%" class="im_tr_a text_right text_space_right">分页单选：</td>
      <td width="35%" class="text_space_left text_left">
		<input type="hidden" id='dwid' value=""/>
		<input type="text" id='dwmc' value=""/>
        <input type="button" value="选择" style="width:50px;" onclick="showPagingSelectWin()"/>
	  </td>
      <td width="15%" class="im_tr_a text_right text_space_right">分页多选：</td>
      <td width="35%" class="text_space_left text_left">
		<input type="hidden" id='dwid2' value=""/>
		<input type="text" id='dwmc2' value=""/>
        <input type="button" value="选择" style="width:50px;" onclick="showPagingSelectWin2()"/>
	  </td>
    </tr>
  </table>
  <br>
  <br>
  <h2>5*8 table <input type='text' id='result_ipt' readonly></h2>
  <br>
  <table id='test_tbl' width="500px" border="0" cellspacing="0" cellpadding="0">
    <tr>
      <td width="12.5%"><input type='button' value='click'></td><td width="12.5%"><input type='button' value='click'></td><td width="12.5%"><input type='button' value='click'></td><td width="12.5%"><input type='button' value='click'></td>
      <td width="12.5%"><input type='button' value='click'></td><td width="12.5%"><input type='button' value='click'></td><td width="12.5%"><input type='button' value='click'></td><td width="12.5%"><input type='button' value='click'></td>
    </tr>
    <tr>
      <td width="12.5%"><input type='button' value='click'></td><td width="12.5%"><input type='button' value='click'></td><td width="12.5%"><input type='button' value='click'></td><td width="12.5%"><input type='button' value='click'></td>
      <td width="12.5%"><input type='button' value='click'></td><td width="12.5%"><input type='button' value='click'></td><td width="12.5%"><input type='button' value='click'></td><td width="12.5%"><input type='button' value='click'></td>
    </tr>
    <tr>
      <td width="12.5%"><input type='button' value='click'></td><td width="12.5%"><input type='button' value='click'></td><td width="12.5%"><input type='button' value='click'></td><td width="12.5%"><input type='button' value='click'></td>
      <td width="12.5%"><input type='button' value='click'></td><td width="12.5%"><input type='button' value='click'></td><td width="12.5%"><input type='button' value='click'></td><td width="12.5%"><input type='button' value='click'></td>
    </tr>
    <tr>
      <td width="12.5%"><input type='button' value='click'></td><td width="12.5%"><input type='button' value='click'></td><td width="12.5%"><input type='button' value='click'></td><td width="12.5%"><input type='button' value='click'></td>
      <td width="12.5%"><input type='button' value='click'></td><td width="12.5%"><input type='button' value='click'></td><td width="12.5%"><input type='button' value='click'></td><td width="12.5%"><input type='button' value='click'></td>
    </tr>
    <tr>
      <td width="12.5%"><input type='button' value='click'></td><td width="12.5%"><input type='button' value='click'></td><td width="12.5%"><input type='button' value='click'></td><td width="12.5%"><input type='button' value='click'></td>
      <td width="12.5%"><input type='button' value='click'></td><td width="12.5%"><input type='button' value='click'></td><td width="12.5%"><input type='button' value='click'></td><td width="12.5%"><input type='button' value='click'></td>
    </tr>
	<tr>
		<td><a href='#' onclick='checkboxClick(this)'>选择</a></td><td><a href='#' onclick='checkboxClick(this)'>选择</a></td><td><a href='#' onclick='checkboxClick(this)'>选择</a></td><td><a href='#' onclick='checkboxClick(this)'>选择</a></td>
		<td><a href='#' onclick='checkboxClick(this)'>选择</a></td><td><a href='#' onclick='checkboxClick(this)'>选择</a></td><td><a href='#' onclick='checkboxClick(this)'>选择</a></td><td><a href='#' onclick='checkboxClick(this)'>选择</a></td>
	</tr>
	<tr>
		<td><a href='#' onclick='checkboxClick(this)'>选择</a></td><td><a href='#' onclick='checkboxClick(this)'>选择</a></td><td><a href='#' onclick='checkboxClick(this)'>选择</a></td><td><a href='#' onclick='checkboxClick(this)'>选择</a></td>
		<td><a href='#' onclick='checkboxClick(this)'>选择</a></td><td><a href='#' onclick='checkboxClick(this)'>选择</a></td><td><a href='#' onclick='checkboxClick(this)'>选择</a></td><td><a href='#' onclick='checkboxClick(this)'>选择</a></td>
	</tr>
  </table>
<script>
function checkboxClick(obj){
	var hang = $(obj).parent().parent().prevAll().length+1;
	var lie = $(obj).parent().prevAll().length+1;
	info("第"+hang+"行，第"+lie+"列");
}
$(document).ready(function(){
	$("#test_tbl").find("td").hover(function(){
    		var hang = $(this).parent().prevAll().length+1;
    		var lie = $(this).prevAll().length+1;
    		$("#result_ipt").val("第"+hang+"行，第"+lie+"列");
		});
	
	$("#test_tbl").find("input[type='button']").click(function(){
    		var hang = $(this).parent().parent().prevAll().length+1;
    		var lie = $(this).parent().prevAll().length+1;
    		info("第"+hang+"行，第"+lie+"列");
		});
});
</script>