#set($layout = "qiye/layout/commonLayout.vm")
#set($jsfiles = [
	"${rc.contextPath}/script/swfupload/swfupload.js",
	"${rc.contextPath}/script/swfupload/fileUpload.js",
	"${rc.contextPath}/script/commonSelector.js",
	"${rc.contextPath}/js/qiye/test/uploadExcel.js",
	"${rc.contextPath}/dwr/interface/TestDwr.js"
])
<form method="post" enctype="multipart/form-data" action="${rc.contextPath}/uploadServlet">
<table width="100%" border="0" cellspacing="1" cellpadding="0" class="im_tr f12">
  <caption>许可证信息</caption>
  <tr>
    <td width="15%" class="im_tr_a text_right text_space_right"><span class="red">&lowast;</span>证书编号</td>
    <td width="35%" class="text_space_left text_left"></td>
    <td width="15%" class="im_tr_a text_right text_space_right"><span class="red">&lowast;</span>批准日期</td>
    <td width="35%" class="text_space_left text_left"></td>
  </tr>
  <tr>
    <td class="im_tr_a text_right text_space_right"><span class="red">&lowast;</span>图片上传</td>
    <td  colspan="3" class="text_space_left text_left">
	  <span id="uploadPicDivId"></span>
	</td>
  </tr>
  <tr>
    <td class="im_tr_a text_right text_space_right"><span class="red">&lowast;</span>附件上传</td>
    <td colspan="3" class="text_space_left text_left">
	  <span id="uploadFileDivId"/>
	</td>
  </tr>
</table>
<div class="operateBtnDiv_down">
  <div class="btn num4" id='btnUploadExcel'><a href="#">上传Excel</a></div>
  <div class="btn num4" id='btnUploadFile'><a href="#">上传附件</a></div>
  <div class="btn num4" id='btnUploadPic'><a href="#">上传图片</a></div>
  <div class="btn num4" id='btn4'><a href="#">跳转联动菜单</a></div>
</div>
</form>
<script>
$(document).ready(function(){
	$("#btnUploadExcel").click(function(){
		showUploadWin({
			title:"上传测试数据",
			//templatePath : "/qiye/test/test_temp.xls",
			templatePath : "/qiye/test/Excel测试模板.xls",
			uploadUrl:ctxPath + "/qiye/test/uploadExcel.do",
			checkFailUrl:ctxPath + "/qiye/test/excelError.do",
			okFn:function(){
				alert("刷新页面");
			}
		});
	});
	$("#btnUploadFile").click(function(){
		showWin({
			width:500,
			height:358,
			title:"上传附件",
			url:ctxPath + "/qiye/test/uploadFile/show.do",
			okFn:function(){
				//alert("刷新页面");
			}
		});
	});
	$("#btnUploadPic").click(function(){
		showWin({
			width:640,
			height:325,
			title:"上传附件",
			url:ctxPath + "/qiye/test/uploadPic/show.do",
			okFn:function(){
				//alert("刷新页面");
			}
		});
	});
	$("#btn4").click(function(){
		window.location = ctxPath + "/qiye/test/localMsg/show.do";
	});

	var uploadFiles = new UploadFiles({
			placeHolder:'uploadPicDivId',
			billCode:'010102',
			billid:"22",
			uploadFlag:true,
			fileTypes:"*.jpg;*.gif;*.png",
			buttonText:'上传图片',
			fileSizeLimit:'5 MB'
		});
	var uploadFiles2 = new UploadFiles({
			placeHolder:'uploadFileDivId',
			billCode:'010102',
			billid:"22",
			uploadFlag:true,
			fileTypes:"*.xls",
			buttonText:'上传附件',
			fileSizeLimit:'5 MB',
			previewFlag:false
		});
});
</script>