#set($jsfiles = ["${rc.contextPath}/dwr/interface/ParameterDwr.js"])

#set($parameter = $parameter)
	
<form id='frm' action="" method="post">
    <table class="title">
    	<tr><td>系统参数</td></tr>
    </table>
    <table class="control">
    	<tr><td>
				<input type='button' value='保存' class='btn' id='btnSave' $RightUtil.able($session, '08011702','1')>
				<input type='button' value='返回列表' class='btn' id="btnToList">
		</td></tr>
    </table>
    <table class='content'>
    	<tr>
			<td class='body1'>键</td>	
			<td class='body2'>
				<input type='text' id="name" name='name' readonly value="$!parameter.name" style="width:90%;"/>
			</td>
			<td class='body1'>值</td>	
			<td class='body2'>
				<input type='text' id="value" name='value' value="$!parameter.value" style="width:90%;">
			</td>
			<td class='body1'>状态</td>
			<td class='body2'>
				<input type='text' name='status' readonly value="保存">
			</td>
		</tr>
		<tr>
			<td class='body1'>说明</td>
			<td class='body2' colspan="5">
				<input type="text" id="memo" name="memo" style="width:90%;" value="$!{parameter.memo}"/>
			</td>
		</tr>
    </table>
</form>
<script>
//检查表单有效性
function checkForm(){
	if(!Validator.Validate($("frm"),3))
		return false;
	return true;
}
//保存
function saveform(){
	if(!checkForm()){
		return ;
	}
	var param = {
			name:jQuery("#name").val(),
			value:jQuery("#value").val(),
			memo:jQuery("#memo").val(),
			status:"1"
	};
	ParameterDwr.updateParameter(param, function(data){
		if(data){
			alert(data);
		} else {
			alert("保存成功", function(){
		        window.location = ctxPath + "/sys/parameter/list.do";
			});
		}
	});	
}
jQuery(function(){
	jQuery("#btnSave").click(saveform);
	
	jQuery("#btnToList").click(function(){
        window.location = "${rc.contextPath}/sys/parameter/list.do";
	});
})
</script>