<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:task="http://www.springframework.org/schema/task" 
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:dwr="http://www.directwebremoting.org/schema/spring-dwr"
	xsi:schemaLocation="
		http://www.springframework.org/schema/mvc
		http://www.springframework.org/schema/mvc/spring-mvc-3.1.xsd
		http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
		http://www.springframework.org/schema/context
		http://www.springframework.org/schema/context/spring-context-3.1.xsd
		http://www.springframework.org/schema/aop
		http://www.springframework.org/schema/aop/spring-aop-3.1.xsd
		http://www.springframework.org/schema/tx
		http://www.springframework.org/schema/tx/spring-tx-3.1.xsd
		http://www.directwebremoting.org/schema/spring-dwr
		http://www.directwebremoting.org/schema/spring-dwr-3.0.xsd 
		http://www.springframework.org/schema/task 
		http://www.springframework.org/schema/task/spring-task-3.0.xsd">
	<!-- 定时器开关 -->
	<!-- add by daiwa-sc wuqiang
	<task:annotation-driven /> -->
	
	<context:component-scan base-package="com.totyu.dao,com.totyu.service,com.totyu.controller,com.totyu.dwr"/>
	<!-- 
	<context:component-scan base-package="com.totyu" use-default-filters="false">
   		<context:exclude-filter type="regex" expression=".dao..*.impl.*"/>
 		<context:exclude-filter type="regex" expression=".manager..*.impl.*"/>
 		<context:exclude-filter type="regex" expression=".web.view..*.*"/>
 	</context:component-scan>
	 -->
	
	<bean id="propertyConfigurer" class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="locations">
			<list>
				<value>classpath:global.properties</value>
				<value>classpath:jdbc.properties</value>
				<value>classpath:webservice.properties</value>
			</list>
		</property>
	</bean>
	 
	<!-- 从这行往下是要添加的 -->
    <context:annotation-config />
	<dwr:annotation-config id="dwrAnnotationConfig" />
	<dwr:annotation-scan base-package="com.totyu.vo" scanDataTransferObject="true" scanRemoteProxy="false" />
    <dwr:url-mapping />
    <dwr:controller id="dwrController" debug="true">
        <dwr:config-param name="allowScriptTagRemoting" value="true" />
        <dwr:config-param name="crossDomainSessionSecurity" value="false" />
    </dwr:controller>
    <dwr:configuration>
    	<dwr:convert type="exception" class="java.lang.RuntimeException"></dwr:convert>
    	<dwr:convert type="bean" class="com.totyu.common.Pager"></dwr:convert>
    </dwr:configuration>
    
	<mvc:annotation-driven>
		<mvc:argument-resolvers>
			<bean class="com.totyu.spring.mvc.method.annotation.FormModelMethodArgumentResolver"/>
		</mvc:argument-resolvers>
 	</mvc:annotation-driven>
 	
	<mvc:resources mapping="/resources/**" location="/resources/" />
    
	<mvc:interceptors>
		<mvc:interceptor>
			<mvc:mapping path="/qiye/**/*.do"/>
			<bean class="com.totyu.web.interceptor.SignonInterceptor" />
		</mvc:interceptor>
	</mvc:interceptors>
	<!-- 
	<mvc:default-servlet-handler>
	当在web.xml 中DispatcherServlet使用<url-pattern>/</url-pattern> 映射时，能映射静态资源
	(当Spring Web MVC框架没有处理请求对应的控制器时（如一些静态资源），转交给默认的Servlet来响应静态文件，否则报404找不到资源错误）
	 -->
    <!-- 
    mvc:annotation-driven自动注册以下两个bean 和
    org.springframework.core.convert.ConversionService
    org.springframework.http.converter.HttpMessageConverter<T>（用于支持@RequestBody  和 @ResponseBody）
    
    Spring3.1之前的注解 HandlerMapping
    <bean class="org.springframework.web.servlet.mvc.annotation.DefaultAnnotationHandlerMapping">
        <property name="order" value="1" />
    </bean>
    <bean class="org.springframework.web.servlet.mvc.annotation.AnnotationMethodHandlerAdapter"/>
     -->
    <!--Spring3.1开始的注解 HandlerMapping -->
    <bean class="org.springframework.web.servlet.mvc.method.annotation.RequestMappingHandlerMapping"/>
	<!--Spring3.1开始的注解 HandlerAdapter -->
	<bean class="org.springframework.web.servlet.mvc.method.annotation.RequestMappingHandlerAdapter">
		<!--线程安全的访问session-->
		<property name="synchronizeOnSession" value="true"/>
		<property name="customArgumentResolvers">
			<list>
				<bean class="com.totyu.spring.mvc.method.annotation.RequestJsonParamMethodArgumentResolver"/>
				<bean class="com.totyu.spring.mvc.method.annotation.FormModelMethodArgumentResolver"/>
			</list>
		</property>
     </bean>
    <!-- 
    <bean class="org.springframework.web.servlet.handler.BeanNameUrlHandlerMapping">
        <property name="order" value="2" />
    </bean>
	<bean class="org.springframework.web.servlet.mvc.SimpleControllerHandlerAdapter"/>  
     -->
    <bean class="org.springframework.web.servlet.handler.SimpleUrlHandlerMapping">
		<property name="order" value="3" />
		<property value="true" name="alwaysUseFullPath"></property>
		<property name="mappings">
			<props>
				<prop key="/dwr/**">dwrController</prop>
			</props>
		</property>
	</bean>
    <!--添加结束-->
    
	
	<!-- 1 、Spring的数据源设置 -->
	<bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource" destroy-method="close" lazy-init="true">
		<property name="driverClassName" value="${db.driver}"/>
		<property name="url" value="${db.url}"/>
		<property name="username" value="${db.username}"/>
		<property name="password" value="${db.password}"/>
	</bean>
	
	<!-- 2 、Spring对iBATIS的支持 -->
	<bean id="sqlMapClient" class="org.springframework.orm.ibatis.SqlMapClientFactoryBean">
		<property name="dataSource" ref="dataSource"></property>
		<property name="configLocations">
			<list>
				<value>classpath:mapper/mapper-menhu.xml</value>
				<value>classpath:mapper/mapper-qiye.xml</value>
			</list>
		</property>
	</bean>
	
	<!-- 3 、Spring对iBATIS DAO的支持 -->
	<bean id="sqlMapClientDao" class="com.totyu.dao.BaseDao">
		<property name="sqlMapClient" ref="sqlMapClient"/>
	</bean>
	
	<!-- 4、Spring 配置事务 -->
	<bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource" ref="dataSource"></property>
	</bean>
	
	<!-- 5、AOP XML配置事务管理 -->
	<!-- 5.1、配置事务通知 -->
	<tx:advice id="transactionManagerAdivice" transaction-manager="transactionManager">
		<tx:attributes>
			<tx:method name="save*" propagation="REQUIRED" />
			<tx:method name="add*" propagation="REQUIRED" />
			<tx:method name="create*" propagation="REQUIRED" />
			<tx:method name="insert*" propagation="REQUIRED" />
			<tx:method name="update*" propagation="REQUIRED" />
			<tx:method name="merge*" propagation="REQUIRED" />
			<tx:method name="del*" propagation="REQUIRED" />
			<tx:method name="remove*" propagation="REQUIRED" />
			<tx:method name="put*" propagation="REQUIRED" />
			<tx:method name="get*" propagation="SUPPORTS" read-only="true" />
			<tx:method name="count*" propagation="SUPPORTS" read-only="true" />
			<tx:method name="find*" propagation="SUPPORTS" read-only="true" />
			<tx:method name="list*" propagation="SUPPORTS" read-only="true" />
			<tx:method name="*" propagation="SUPPORTS" read-only="true" />
		</tx:attributes>
	</tx:advice>
	<!-- 5.2、配置切入点和方面 -->
	<aop:config>
		<aop:pointcut id="servicePointCut" expression="execution(* com.totyu.service..impl.*Service*.*(..))"/>
		<aop:advisor advice-ref="transactionManagerAdivice" pointcut-ref="servicePointCut"/>
	</aop:config>
	
	
	<bean id="exceptionHandler" class="com.totyu.web.handler.ExceptionHandler"/>
	
	<import resource="classpath:conf/spring-ws.xml" />
	<!--批处理部署配置spring-batch.xml-->
	<!-- add by daiwa-sc wuqiang
	<import resource="classpath:conf/spring-batch.xml" /> -->
</beans>
