<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:ws="http://jax-ws.dev.java.net/spring/core"
	xmlns:wss="http://jax-ws.dev.java.net/spring/servlet"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
        http://jax-ws.dev.java.net/spring/core http://jax-ws.dev.java.net/spring/core.xsd
        http://jax-ws.dev.java.net/spring/servlet http://jax-ws.dev.java.net/spring/servlet.xsd">

    <wss:binding url="/Hello3Service">
        <wss:service>
            <ws:service bean="#hello3WsService">
				<ws:handlers>
					<ref bean="authValidationHandler"/>
				</ws:handlers>
            	<ws:metadata><value>/WEB-INF/wsdl/hello3WsService.xsd</value></ws:metadata>
            </ws:service>
        </wss:service>
    </wss:binding>
	<bean id="authValidationHandler" class="com.totyu.web.ws.handler.AuthValidationHandler"/>
    <bean id="hello3WsService" class="com.totyu.web.ws.impl.Hello3ServiceImpl" />

	<wss:binding url="/Hello4Service">
		<wss:service>
			<ws:service bean="#hello4WsService">
				<ws:metadata>
					<value>/WEB-INF/wsdl/Hello4WsService.xsd</value>
				</ws:metadata>
			</ws:service>
		</wss:service>
	</wss:binding>
	<bean id="hello4WsService" class="com.lejingw.apps.ws4.Hello4WsServiceImpl" />
	
    <wss:binding url="/TzsbWsService">
        <wss:service>
            <ws:service bean="#tzsbWebService">
            	<ws:metadata><value>/WEB-INF/wsdl/tzsbWsService.xsd</value></ws:metadata>
            </ws:service>
        </wss:service>
    </wss:binding>
    <bean id="tzsbWebService" class="com.totyu.web.ws.impl.TzsbWebServiceImpl">
		<property name="logEnabled" value="${webService.logEnabled}"/>
	</bean>
    
	<bean id="webServiceClient" class="com.totyu.web.ws.impl.WebServiceClientImpl">
		<property name="zhongheWebServiceClient" ref="zhongheWebServiceClient"/>
		<property name="postOrg" value="${zh.postOrg}"/>
		<property name="postPass" value="${zh.postPass}"/>
		<property name="postArea" value="${zh.postArea}"/>
		<property name="logEnabled" value="${webService.logEnabled}"/>
	</bean>
	 
	<bean id="zhongheWebServiceClient" class="org.springframework.remoting.jaxws.JaxWsPortProxyFactoryBean">
	    <property name="serviceInterface" value="com.totyu.web.ws.client.ZhongheWebServiceClient"/>
	    <property name="wsdlDocumentUrl" value="${zh.wsdlDocumentUrl}"/>
	    <property name="namespaceUri" value="http://localhost:88/scdeap/services"/>
	    <property name="serviceName" value="tzsbService"/>
	    <property name="portName" value="tzsbServiceHttpPort"/>
	    <property name="lookupServiceOnStartup" value="false"/>
	</bean>
</beans>