<form id="frm" method="post">
	<input type='hidden' name='entryType' value='$!entryType'/>
    <table class="title">
    	<tr><td>#if($!entryType=='2')业务 #else 系统 #end 数据字典 #if($!message)[<font color='red'>$!message</font>]#end</td></tr>
    </table>
    <table class="control">
    	<tr>
			<td>
				<input type='button' value='新增' class='btn' id='btnAdd'>
				<input type='button' value='删除' class='btn' onclick="deleteBillnoRule()">
			</td>
		</tr>
    </table>
	<div class='scroll'>
    <table class='list'>
    	<thead>
			<tr>
                <th width='20px'><input type='checkbox' id='chkall'/></th>
        		<th>状态</th>
                <th>编码</th>
        		<th>名称</th>
        		<th>说明</th>
        		<th>创建时间</th>
        		<th>创建人</th>
        		<th>更新时间</th>
        		<th>更新人</th>
            </tr>
        </thead>
        <tbody id="tbl">
		#foreach($map in $pager.pageData)
			<tr>
				<td><input type='checkbox' name='chk' value='$!{map.entryCode}'/></td>
				<td>$!DictUtil.getValue('status',$!{map.status})</td>
				<td><a href="javascript:toEditPage('$!{map.entryCode}');">$!{map.entryCode}</a></td>
				<td>$!{map.entryName}</td>
				<td>$!{map.memo}</td>
				<td>$!{map.createDate}</td>
				<td>$!BdCommon.getUserName($!{map.createId})</td>
				<td>$!{map.updateDate}</td>
				<td>$!BdCommon.getUserName($!{map.updateId})</td>
			</tr>
		#end
    	</tbody>
    </table>
	</div>
<script>
createPagingToolbar('frm', $!pager.start, $!pager.limit, $!pager.totalCount);
</script>
</form>
<script>
jQuery(function(){
	checkTable('tbl', 'chkall', 'chk', false,null,function(index){
		window.location = "${rc.contextPath}/sys/dict/toEdit.do?entryType=$!{entryType}&entryCode=" + $n("chk")[index].value;
	});
	
	jQuery("#btnAdd").click(function(){
		window.location = "${rc.contextPath}/sys/dict/toAdd.do?entryType=$!{entryType}";
	});
});
function toEditPage(entryCode){
	window.location = "${rc.contextPath}/sys/dict/toEdit.do?entryType=$!{entryType}&entryCode=" + entryCode;
}
function deleteBillnoRule(){
	var index = getSelectIndex('chk');
	if(index<0){
		alert("请选择要删除的记录");
		return ;
	}
	var entryCode = $n("chk")[index].value;
	confirm("确定删除?", function(){
		DictDwr.deleteDictEntry(entryCode, function(errMsg){
			if(errMsg){
				alert(errMsg);
			}else{
				alert("删除成功", function(){
        			window.location = "${rc.contextPath}/sys/dict/list.do?entryType=$!{entryType}";
				});
			}
		});
	});
}
</script>