#set($layout = "menhu/layout/commonLayout.vm")
#set($cssfiles = [])
#set($jsfiles = ["${rc.contextPath}/dwr/interface/MenhuSysDwr.js"])

<form id='login_0' action="${rc.contextPath}/login.do" method="post">
	<span>用户名：</span>
		<input id="username_0" type="text" value='admin' /> </br>
	<span>密&nbsp;&nbsp;&nbsp;码：</span>
		<input id="password_0" type="password" value="111111" /> </br>
	<input type="button" value="登录" onclick="loginCk()" />
</form>
<script>
function loginCk() {
	var username = document.getElementById("username_0").value;
	var password = document.getElementById("password_0").value;
	MenhuSysDwr.doLogin(username, password, 0, function(data) {
			if (data) {
				alert(data);
			} else {
				document.getElementById("login_0").submit();
			}
		});
}
</script>