#set($layout = "menhu/layout/commonLayout.vm") #set($cssfiles = ["${rc.contextPath}/css/menhu/css/index_css.css"])
#set($jsfiles = ["${rc.contextPath}/dwr/interface/MenhuSysDwr.js"])

<div class="layout">
	<!---mianContainer start--->
	<div class="mianContainer f_l">
		<div class="navTitle">
			<ul id="navContent">
				<li><a href="${rc.contextPath}/menhu/MHGT001/gt001/list.do?flm_id=201311002" class="active"
					onmouseover="navContent_ck(0);return false;" hideFocus id="navContent_tab_0" href="">通知通告</a></li>
				<li><a href="${rc.contextPath}/menhu/MHGT001/gt001/list.do?flm_id=201311003"
					onmouseover="navContent_ck(1);return false;" hideFocus id="navContent_tab_1" href="">行业信息</a></li>
				<li><a href="${rc.contextPath}/menhu/MHGT001/gt001/list.do?flm_id=201311004"
					onmouseover="navContent_ck(2);return false;" hideFocus id="navContent_tab_2" href="">技术规范</a></li>
				<li><a href="${rc.contextPath}/menhu/MHGT001/gt001/list.do?flm_id=201311006"
					onmouseover="navContent_ck(3);return false;" hideFocus id="navContent_tab_3" href="">资料表格下载</a></li>
			</ul>
		</div>
		<script>
			var navContent_index = 0, navContent_class = '';
			var navContent_list = document.getElementById('navContent')
					.getElementsByTagName('a');
			function navContent_ck(_idx) {
				navContent_list[navContent_index].className = navContent_class;
				navContent_list[_idx].className = navContent_class + ' active';
				document.getElementById('navContent_' + navContent_index).style.display = 'none';
				document.getElementById('navContent_tab_' + navContent_index).innerHTML = document
						.getElementById('navContent_tab_' + navContent_index).innerHTML
						.replace("", "");
				document.getElementById('navContent_' + _idx).style.display = 'block';
				document.getElementById('navContent_tab_' + _idx).innerHTML = document
						.getElementById('navContent_tab_' + _idx).innerHTML
						+ "";
				navContent_index = _idx;
			}
		</script>
		<div class="navContent" id="navContent_0">
			<ul>
				#foreach($item in $tztgList)
				<li><span class="list"><a
						href="${rc.contextPath}/menhu/LMWZ/moveContent/list.do?wzid=$!item.id&&flm_id=201311002&&lanmuid=201311002">$!item.biaoti</a></span><span
					class="day">$!item.fbsj</span></li> #end
			</ul>
		</div>
		<div class="diaplay navContent" id="navContent_1">
			<ul>
				#foreach($item in $hyxxList)
				<li><span class="list"><a
						href="${rc.contextPath}/menhu/LMWZ/moveContent/list.do?wzid=$!item.id&&flm_id=201311003&&lanmuid=$!item.lmid">$!item.biaoti</a></span><span
					class="day">$!item.fbsj</span></li> #end
			</ul>
		</div>
		<div class="diaplay navContent" id="navContent_2">
			<ul>
				#foreach($item in $jsgfList)
				<li><span class="list"><a
						href="${rc.contextPath}/menhu/LMWZ/moveContent/list.do?wzid=$!item.id&&flm_id=201311004&&lanmuid=$!item.lmid">$!item.biaoti</a></span><span
					class="day">$!item.fbsj</span></li> #end
			</ul>
		</div>
		<div class="diaplay navContent" id="navContent_3">
			<ul>
				#foreach($item in $zlxzList)
				<li><span class="list"><a href="#">$!item.biaoti</a></span><span class="day">$!item.fbsj</span></li> #end
			</ul>
		</div>
		<div class="clear"></div>
		<div id="shadow_1"></div>
	</div>
	<!---mianContainer end--->
	<div class="login f_r">
		<div id="loginTitle"></div>
		<div id="loginContent">
			<div class="userChange">
				<div class="wrap" id=divspacerank>
					<div class=md-head id=login_spacerank>
						<A class="a10 wrap cur wid" id=login_spacerank_tab_0 hideFocus onmouseover="login_spacerank_ck(0);return false;"
							href="javascript:;">使用(维保｜生产)单位</A> <A class="a10 wrap" id=login_spacerank_tab_1 hideFocus
							onmouseover="login_spacerank_ck(1);return false;" href="javascript:;">监察部门</A> <A class="a10 wrap"
							id=login_spacerank_tab_2 hideFocus onmouseover="login_spacerank_ck(2);return false;" href="javascript:;">乡镇(街道)</A>
						<A class="a10 wrap" id=login_spacerank_tab_3 hideFocus onmouseover="login_spacerank_ck(3);return false;"
							href="javascript:;">行业主管</A> <BR class=clear>
					</div>
				</div>
				<!------------>
				<div class=md-body>

					<div id=login_spacerank_0>
						<form id="login_0" name="login_0" action="${rc.contextPath}/login.do" method="post">
							<div class="loginInput">
								<span>用户名：</span> <input id="username_0" name="username_0" type="text" class="loginBox" value='20130101' /> </br> <span
									style="margin-left: 1px">密&nbsp;&nbsp;&nbsp;码：</span> <input id="password_0" name="password_0" type="password"
									class="loginBox" value="20130101" /> <input name="loginButton_0" type="button" class="loginBtn"
									onclick="loginCk(0)" />
								<div id="err_0" class="err"></div>
								<div class="loginName">
									<span class="f12 lineH_26"><a href="${rc.contextPath}/menhu/register/doRegister.do">注册帐号</a></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span
										class="f12"><a href="${rc.contextPath}/menhu/MHMMZH001/mmzh001.do">忘记密码</a></span>
								</div>
							</div>
						</form>
					</div>

					<div id=login_spacerank_1 class="diaplay">
						<form id="login_1" name="login_1" action="${rc.contextPath}/login.do" method="post">
							<div class="loginInput">
								<span>用户名：</span> <input id="username_1" name="username_1" type="text" class="loginBox" value="20130201" /> </br> <span
									style="margin-left: 1px">密&nbsp;&nbsp;&nbsp;码：</span> <input id="password_1" name="password_1" type="password"
									class="loginBox" value="20130201" /> <input name="loginButton_1" type="button" class="loginBtn"
									onclick="loginCk(1)" />
								<div id="err_1" class="err"></div>
								<div class="loginName">
									<h4>监察机构入口</h4>
								</div>
							</div>
					</div>
					</form>
				</div>

				<div id=login_spacerank_2 class="diaplay">
					<form id="login_2" name="login_2" action="${rc.contextPath}/login.do" method="post">
						<div class="loginInput">
							<span>用户名：</span> <input id="username_2" name="username_2" type="text" class="loginBox" /> </br> <span
								style="margin-left: 1px">密&nbsp;&nbsp;&nbsp;码：</span> <input id="password_2" name="password_2" type="password"
								class="loginBox" /> <input name="loginButton_2" type="button" class="loginBtn" onclick="loginCk(2)" />
							<div id="err_2" class="err"></div>
							<div class="loginName">
								<h4>乡镇入口</h4>
							</div>
						</div>
					</form>
				</div>
				<div id=login_spacerank_3 class="diaplay">
					<form id="login_3" name="login_3" action="${rc.contextPath}/login.do" method="post">
						<div class="loginInput">
							<span>用户名：</span> <input id="username_3" name="username_3" type="text" class="loginBox" /> </br> <span
								style="margin-left: 1px">密&nbsp;&nbsp;&nbsp;码：</span> <input id="password_3" name="password_3" type="password"
								class="loginBox" /> <input name="loginButton_3" type="button" class="loginBtn" onclick="loginCk(3)" />
							<div id="err_3" class="err"></div>
							<div class="loginName">
								<h4>行业信管入口</h4>
							</div>
						</div>
					</form>
				</div>

			</div>
			<SCRIPT>
				var login_spacerank_index = 0, login_spacerank_class = 'a10 wrap ';
				var login_spacerank_list = document.getElementById(
						'login_spacerank').getElementsByTagName('a');
				function login_spacerank_ck(_idx) {
					login_spacerank_list[login_spacerank_index].className = login_spacerank_class;
					login_spacerank_list[_idx].className = login_spacerank_class
							+ ' cur wid';
					document.getElementById('login_spacerank_'
							+ login_spacerank_index).style.display = 'none';
					document.getElementById('login_spacerank_tab_'
							+ login_spacerank_index).innerHTML = document
							.getElementById('login_spacerank_tab_'
									+ login_spacerank_index).innerHTML.replace(
							"", "");
					document.getElementById('login_spacerank_' + _idx).style.display = 'block';
					document.getElementById('login_spacerank_tab_' + _idx).innerHTML = document
							.getElementById('login_spacerank_tab_' + _idx).innerHTML
							+ "";
					login_spacerank_index = _idx;
				}

				function loginCk(type) {
					var username = document.getElementById("username_" + type).value;
					var password = document.getElementById("password_" + type).value;
					if (isNull(username)) {
						jQuery("div[id='err_" + type + "']").html(
								"<font color='red'>用户名不能为空！</font>");
						return;
					}
					if (isNull(password)) {
						jQuery("div[id='err_" + type + "']").html(
								"<font color='red'>密码不能为空！</font>");
						return;
					}
					MenhuSysDwr.doLogin(username, password, type,
							function(data) {
								if (data) {
									jQuery("div[id='err_" + type + "']").html(
											"<font color='red'>" + data
													+ "</font>");
									for (var i = 0; i < 4; i++) {
										if (i != type) {
											jQuery(
													"input[name='username_" + i
															+ "']").val("");
											jQuery(
													"input[name='password_" + i
															+ "']").val("");
											jQuery("div[id='err_" + i + "']")
													.html("");
										}
									}
								} else {
									document.getElementById("login_" + type)
											.submit();
								}
							});
				}
			</SCRIPT>
		</div>
	</div>
	<div id="shadow_2"></div>
    <div class="clear"></div>
    <div class="h_20"></div>
    <!---其他栏目  三列--->
    <div id="otherColumn">
    	<!---其他栏目  办事指南--->
    	<div class="column f_l">
    		<div class="columnTitle">
    			<h4>办事指南</h4>
    		</div>
    		<ul>
    			<li class="mr_24"><a href="${rc.contextPath}/menhu/MHGT001/gt001/list.do?flm_id=201311007&&id=2013110074"><img
    					src="${rc.contextPath}/css/menhu/images/icon_09.png"
    					onmouseover="this.src='${rc.contextPath}/css/menhu/images/icon_10.png'"
    					onmouseout="this.src='${rc.contextPath}/css/menhu/images/icon_09.png'" alt="设备施工告知" /></a></li>
    			<li><a href="${rc.contextPath}/menhu/MHGT001/gt001/list.do?flm_id=201311007&&id=2013110073"><img
    					src="${rc.contextPath}/css/menhu/images/icon_11.png" alt="设备报停报废"
    					onmouseover="this.src='${rc.contextPath}/css/menhu/images/icon_12.png'"
    					onmouseout="this.src='${rc.contextPath}/css/menhu/images/icon_11.png'" /></a></li>
    			<li class="mr_24"><a href="${rc.contextPath}/menhu/MHGT001/gt001/list.do?flm_id=201311007&&id=2013110072"><img
    					src="${rc.contextPath}/css/menhu/images/icon_13.png" alt="设备申报检验"
    					onmouseover="this.src='${rc.contextPath}/css/menhu/images/icon_14.png'"
    					onmouseout="this.src='${rc.contextPath}/css/menhu/images/icon_13.png'" /></a></li>
    			<li><a href="${rc.contextPath}/menhu/MHGT001/gt001/list.do?flm_id=201311007&&id=2013110071"><img
    					src="${rc.contextPath}/css/menhu/images/icon_15.png" alt="设备使用登记"
    					onmouseover="this.src='${rc.contextPath}/css/menhu/images/icon_16.png'"
    					onmouseout="this.src='${rc.contextPath}/css/menhu/images/icon_15.png'" /></a></li>
    		</ul>
    	</div>
    	<!---其他栏目  办事指南 end--->
    	<div class="line f_l"></div>
    	<!---其他栏目  法律法规--->
    	<div class="column f_l">
    		<div class="columnTitle">
    			<h4>法律法规</h4>
    		</div>
    		<ul>
    			<li class="mr_24"><a href="${rc.contextPath}/menhu/MHGT001/gt001/list.do?flm_id=201311005&&id=2013110054"><img
    					src="${rc.contextPath}/css/menhu/images/icon_01.png"
    					onmouseover="this.src='${rc.contextPath}/css/menhu/images/icon_02.png'"
    					onmouseout="this.src='${rc.contextPath}/css/menhu/images/icon_01.png'" alt="省局文函" /></a></li>
    			<li><a href="${rc.contextPath}/menhu/MHGT001/gt001/list.do?flm_id=201311005&&id=2013110052"><img
    					src="${rc.contextPath}/css/menhu/images/icon_03.png" alt="部委规章"
    					onmouseover="this.src='${rc.contextPath}/css/menhu/images/icon_04.png'"
    					onmouseout="this.src='${rc.contextPath}/css/menhu/images/icon_03.png'" /></a></li>
    			<li class="mr_24"><a href="${rc.contextPath}/menhu/MHGT001/gt001/list.do?flm_id=201311005&&id=2013110053"><img
    					src="${rc.contextPath}/css/menhu/images/icon_05.png" alt="地方法规"
    					onmouseover="this.src='${rc.contextPath}/css/menhu/images/icon_06.png'"
    					onmouseout="this.src='${rc.contextPath}/css/menhu/images/icon_05.png'" /></a></li>
    			<li><a href="${rc.contextPath}/menhu/MHGT001/gt001/list.do?flm_id=201311005&&id=2013110051"><img
    					src="${rc.contextPath}/css/menhu/images/icon_07.png" alt="国家法规"
    					onmouseover="this.src='${rc.contextPath}/css/menhu/images/icon_08.png'"
    					onmouseout="this.src='${rc.contextPath}/css/menhu/images/icon_07.png'" /></a></li>
    		</ul>
    	</div>
    	<!---其他栏目  法律法规 end--->
    	<div class="line f_l"></div>
    	<!---其他栏目  问答中心--->
    	<div class="columnRight f_l">
    		<div class="columnTitle">
    			<h4 class="f_l color_blue">问答中心</h4>
    			<span class="f_r"><a href="${rc.contextPath}/menhu/wdzx001/doWdzx001.do">我要提问</a></span>
    		</div>
    		<div id="wdzx" style="overflow: hidden; height: 180px;">
    			<div id="wdzx1" class="selAnswers">
    				#foreach($item in $wtList)
    				<div class="wen">
    					<P>$!item.wtms</P>
    				</div>
    				<div class="da">
    					<p>$!item.dfnr</p>
    				</div>
    				#end
    			</div>
    			<div id="wdzx2" class="selAnswers"></div>
    		</div>
    		<script type="text/javascript">
    			var speed = 50;
    			var wdzx = jQuery("#wdzx");
    			var wdzx1 = jQuery("#wdzx1");
    			var wdzx2 = jQuery("#wdzx2");
    			wdzx2.html(wdzx1.html());
    			function Marquee() {
    				if (wdzx.scrollTop() >= wdzx1.height())
    					wdzx.scrollTop(0);
    				else {
    					wdzx.scrollTop(wdzx.scrollTop() + 1);
    				}
    			}
    			var MyMar = setInterval(Marquee, speed);
    			wdzx.mouseover(function() {
    				clearInterval(MyMar);
    			});
    			wdzx.mouseout(function() {
    				MyMar = setInterval(Marquee, speed);
    			});
    		</script>
    	</div>
    	<!---其他栏目  问答中心 end--->
    </div>
    <div class="shadowPublic"></div>
</div>
