<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8"/>
<meta http-equiv="Pragma" content="no-cache"/>
<meta http-equiv="Cache-Control" content="no-cache"/>
<meta http-equiv="Expires" content="0"/>
<title>SCM</title>

#foreach($item in $!cssfiles)
<link href="$item" type="text/css" rel="stylesheet" />
#end

#foreach($item in $!jsfiles)
<script language="javascript" type="text/javascript" src='$item' charset="UTF-8"></script>
#end
<script>
var ctxPath = "${rc.contextPath}";
</script>
</head>
<body>
	$screen_content
</body>
</html>