@charset "utf-8";

/*****问答中心*左侧搜索**********/
.selQuestion{ width:auto; height:auto; margin:10px;}
.selQuestion .inputBox{ width:150px; height:25px; line-height:25px; border:1px solid #bdbcbc; float:left; margin-right:-5px; text-indent:5px;}
.selQuestion .inputBtn{ width:49px; height:31px; background:url(../images/icon_search_1.png) no-repeat;float:right; border:none;}
.selQuestion .inputBtn:hover{ background:url(../images/icon_search_2.png) no-repeat;}

.wenDiv{ line-height:30px;}
.wenIco{ background:url(../images/icon_question.png) no-repeat; width:17px; height:17px; display:block; float:left; margin-top:5px; padding-right:10px; margin-left:12px;}

.daDiv{ border:#f8eba0 1px solid; height:auto; padding:10px; margin-top:8px; background:#fffcee;}
.daIco{ background: url(../images/icon_answer.png) no-repeat; width:17px; height:17px;display:block; float:left; margin-top:5px;padding-right:10px;}