@charset "utf-8";
body{background:#dfe8f6; margin:0;}
/* head*/
#header{height:85px; width:auto;position: relative; background:url(../images/managePages_bg/head_bg.jpg) repeat-x;}
#header h1{float:left; width:600px;}
#header form{padding-right:30px; color:#fff; width:300px;float:right;}
#header form ul{line-height:80px;}
#header form ul li{padding:0 20px; float:right;}
#header form ul li a{color:#fff;}
#header form ul li a:hover{text-decoration:underline; color:#eaff00;}
#header form ul #ico_user{background:url(../images/managePages_bg/base_ico/ico_user.png) no-repeat 0px 32px;}
#header form ul #ico_home{background:url(../images/managePages_bg/base_ico/ico_home.png) no-repeat 0px 32px;}
#header form ul #ico_close{background:url(../images/managePages_bg/base_ico/ico_close.png) no-repeat 0px 32px;}

/*container*/
#container{
	padding: 10px 0 0 10px;
	width: 100%;
	position: absolute;
	top: 85px;
}

/*left container nav*/
#container_leftnav{background:url(../images/managePages_bg/left_nav_bg.png) no-repeat; width:205px;float:left;}
#container_leftnav .nav_title{height:35px; width:194px; color:#ffffff; line-height:35px; text-align:center;}
#container_leftnav .nav_content{width:194px; overflow:auto; overflow-x:hidden;}

/*left container nav 父级导航*/
#container_leftnav .nav_content ul#menu a{display:block;}
#container_leftnav .nav_content ul#menu li{width:194px; background:url(../images/managePages_bg/nav_underline.png) no-repeat bottom; line-height:35px; color:#ffffff; font-size:14px; font-weight:bold;overflow:hidden;}
#container_leftnav .nav_content ul#menu li span{padding-left:26px;}
#container_leftnav .nav_content ul#menu li a{color:#ffffff;z-index:666;display:block;}
#container_leftnav .nav_content ul#menu li a:hover{color:#000000;background:url(../images/managePages_bg/leftNav_ico/ico_leftNav_hover_parentBg.png) repeat-x; _height:34px; width:194px;  margin-left:1px;display:block; text-decoration:none;}

.menu_current{color:#000000;background:url(../images/managePages_bg/leftNav_ico/ico_leftNav_hover_parentBg.png) repeat-x; _height:34px; width:194px;  margin-left:1px;display:block; text-decoration:none;}

/*left container nav 子级导航*/
#container_leftnav .nav_content ul#menu li ul.child{display:block;width:194px;background:#ffffff url(../images/managePages_bg/nav_underline.png) no-repeat top; margin-left:1px;}
#container_leftnav .nav_content ul#menu li ul.child li{background:url(../images/managePages_bg/leftNav_ico/ico_leftNav_sub.png) no-repeat 25px 6px; height:28px; width:194px;}
#container_leftnav .nav_content ul#menu li ul.child li span{padding-left:50px;}
#container_leftnav .nav_content ul#menu li ul.child li a{color:#000;display:block; font-size:12px; line-height:29px; font-weight:normal;}
#container_leftnav .nav_content ul#menu li ul.child li a:hover,#container_leftnav .nav_content ul#menu li ul.child.current a{background:#1661b0; display:block; color:#fff;}

.menu_item_current{background:#1661b0; display:block; color:#fff;}

/*left container nav ico 单位使用项目图标*/
.ico01_1,.ico01_2,.ico01_3,.ico01_4,.ico01_5,.ico01_6,.ico01_7,.ico01_8,.ico01_9,.ico01_10,.ico01_11,.ico01_12,.ico01_13{background:url(../images/managePages_bg/leftNav_ico/ico_leftNav_01.png) no-repeat; position:relative; margin-left:22px;}
.ico01_1 {background-position:0 -8px;	_background-position:0 0px;}/*兼容IE6*/
.ico01_2 {background-position:0 -46px;	_background-position:0 -39px;}
.ico01_3 {background-position:0 -83px;	_background-position:0 -75px;}
.ico01_4 {background-position:0 -121px;	_background-position:0 -112px;}
.ico01_5 {background-position:0 -157px;	_background-position:0 -147px;}
.ico01_6 {background-position:0 -193px;	_background-position:0 -183px;}
.ico01_7 {background-position:0 -228px;	_background-position:0 -220px;}
.ico01_8 {background-position:0 -265px;	_background-position:0 -257px;}
.ico01_9 {background-position:0 -303px;	_background-position:0 -295px;}
.ico01_10{background-position:0 -342px;	_background-position:0 -334px;}
.ico01_11{background-position:0 -378px;	_background-position:0 -370px;}
.ico01_12{background-position:0 -415px;	_background-position:0 -403px;}
.ico01_13{background-position:0 -450px;	_background-position:0 -442px;}
/*left container nav 伸缩按钮*/
#btn_flex{margin-top:350px; float:left;}
.left_flex{margin-left:-7px;}


/*right container 右侧外边框*/
#container_rightmian{padding:0;  _margin-left:0px; width:auto; /*_width:85%;*/ height:100%; border-top:1px #9cc9d8 solid;z-index:888; background:#fff;}
#container_rightmian .content{margin-left:10px; height:100%;}
/*right container  滚动区域*/
#container_rightmian #scroll_container{height:100%;overflow:hidden;position:relative;    padding-left:10px;}
/*路径*/
#container_rightmian .urlLink{height:35px; line-height:35px;  border-bottom:1px solid #d5e3e7; background:url(../images/managePages_bg/url_bg.png) repeat-x; font-family:"宋体";}
#container_rightmian .urlLink .ulrText{width:auto;background: url(../images/managePages_bg/base_ico/ico_url.png) no-repeat 8px 12px;padding-left:20px;white-space:nowrap;}
#container_rightmian .urlLink .ulrText a{color:#000;}
#container_rightmian .urlLink .ulrText a:hover{text-decoration:underline; color:#df0101;}
