#set($layout = "layout/selectPagerLayout.vm")
#set($cssfiles = [])
#set($jsfiles = [])
<table style="width:100%;" border="0">
	<tr>
        <td width="20%">名称</td>
        <td><input type="text" id='qorgName'/></td>
        <td width="20%"><input type='button' value='查询' onclick="query()"></td>
	</tr>
</table>
<table id='tb11' style="width:100%;" border="0">
    <tr class='evenrow'>
		<th width='15%'><input type='checkbox' id='chkall'/></th>
		<th>名称</th>
	</tr>
</table>
<script>
function query(){
	loadStylePage(start, limit);
}
function loadStylePage(s, l){
	for(var i=$i("tb11").rows.length-1;i>0;i--){
		$i("tb11").deleteRow(i);
	}
	SysCommonDwr.getOrgPagerData("0", s, l, $("#qorgName").val(), function(pager){
		var data = pager.pageData;
    	for(var i=0;i<data.length;i++){
    		var f1 = "<input type='hidden' name='orgId' value='" + data[i].orgId + "'/><input type='checkbox' name='chk' " + (isChecked(data[i].orgId)?"checked":"") + ">";
			var f2 = "<input type='hidden' name='orgName' value='" + data[i].orgName + "'/>" + data[i].orgName;
			console.log(data[i].orgName);
    		insertRow("tb11", [f1, f2], false);
    	}
		checkTable("tb11", 'chkall', 'chk', false);
    	start = pager.start;
    	limit = pager.limit;
    	totalCount = pager.totalCount;
		countToolbar();
	});
}
function isChecked(empid){
	var selectedValues = "$!selectedValues".split(",");
	for(var i=0;i<selectedValues.length;i++){
		if(selectedValues[i] == empid){
			return true;
		}
	}
	return false;
}
//供外部调用的取值方法
function getValues(){
	var idArr = [], nameArr = [], objArr = [];
	for(var i=0;i<$n("chk").length;i++){
		if($n("chk")[i].checked){
			idArr.push($n("orgId")[i].value);
			nameArr.push($n("orgName")[i].value);
    		objArr.push({orgId:$n("orgId")[i].value, orgName:$n("orgName")[i].value});
		}
	}
	return [idArr, nameArr, objArr];
}
jQuery(document).ready(function(){
	start = 0;
	limit = 10;
	loadStylePage(start, limit);
});
</script>