#set($layout = "layout/selectListLayout.vm")
<table style="width:100%;" border="0">
	<tr>
        <td width="20%">名称</td>
        <td><input type="text" name='qorgName' value="$!{qorgName}"/></td>
        <td width="20%"><input type='button' value='查询' onclick="query()"></td>
	</tr>
</table>
<script>
var dataMap = [];
#foreach($item in $dataList)
	dataMap.push({
    		orgId:'$!{item.orgId}',
    		orgName:'$!{item.orgName}',
    		orgType:'$!{item.orgType}'
		});
#end
//供外部调用的取值方法
function getValues(){
	return listSelector.getValues();
}
function query(){
	listSelector.submit();
}
var listSelector = null;
$(document).ready(function(){
	listSelector = new ListSelector({
			selectedValues:"$!{selectedValues}",
			idProperty:'orgId',
			nameProperty:'orgName',
			multiSelectFlag:$multiFlag,
			dataMap:dataMap,
			columns:[
					{title:"ID", name:"orgId"},
					{title:"名称", name:"orgName", hidden:false},
					{name:'orgType',hidden:true}
				]
		});
});
</script>