<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<link href="${rc.contextPath}/style/alerts1.1/jquery.alerts.css" type="text/css" rel="stylesheet" />
	<link href="${rc.contextPath}/css/common/css/iframe_base_css.css" type="text/css" rel="stylesheet"/>
	<link href="${rc.contextPath}/css/common/css/managePages_table_css.css" type="text/css" rel="stylesheet"/>
	<link href="${rc.contextPath}/css/common/css/table_input.css" type="text/css" rel="stylesheet"/>
	<link href="${rc.contextPath}/style/weebox.css" type="text/css" rel="stylesheet" />
	#foreach($item in $!cssfiles)
	<link href="$item" type="text/css" rel="stylesheet" />
	#end
	<title>TZSB</title>
	#set($dateParam = '20131111')
	<script language="javascript" type="text/javascript" src="${rc.contextPath}/script/jquery-1.4.2-debug.js" charset="UTF-8"></script>
	<script language="javascript" type="text/javascript" src="${rc.contextPath}/script/alerts1.1/jquery.alerts.js" charset="UTF-8"></script>
	<script language="javascript" type="text/javascript" src="${rc.contextPath}/script/bgiframe/jquery.bgiframe-2.1.2.js" charset="UTF-8"></script>
	<script language="javascript" type="text/javascript" src="${rc.contextPath}/script/weebox.js" charset="UTF-8"></script>
	<script language="javascript" type="text/javascript" src="${rc.contextPath}/script/common.js?date=$!dateParam" charset="UTF-8"></script>
	<script language="javascript" type="text/javascript" src="${rc.contextPath}/script/commonLayer.js?date=$!dateParam" charset="UTF-8"></script>
	<script language="javascript" type="text/javascript" src="${rc.contextPath}/script/My97DatePicker/WdatePicker.js" charset="UTF-8"></script>
	<script language="javascript" type="text/javascript" src="${rc.contextPath}/script/formValidator.js" charset="UTF-8"></script>
	
	<script language="javascript" type="text/javascript" src="${rc.contextPath}/dwr/engine.js?date=$!dateParam" charset="UTF-8"></script>
	<script language="javascript" type="text/javascript" src="${rc.contextPath}/dwr/util.js?date=$!dateParam" charset="UTF-8"></script>
	<script language="javascript" type="text/javascript" src="${rc.contextPath}/dwr/interface/SysCommonDwr.js" charset="UTF-8"></script>
    <script>
    var ctxPath = "${rc.contextPath}";
    dwr.engine.setTimeout(600000);
    dwr.engine.setErrorHandler(function(msg, err){showLayer(false);if("Timeout" == msg){alert("系统执行超时...");}else{alert(msg);}});
	
	$(document).ready(function(){
		$(".shrinkBtn").click(function(){
			if("block" == $(".select_div").css("display")){
				$(".select_div").hide();
			}else{
				$(".select_div").show();
			}
		});
	});
    </script>
    #foreach($item in $!jsfiles)
    <script language="javascript" type="text/javascript" src='$item' charset="UTF-8"></script>
	#end
</head>
<body>
	$screen_content
</body>
</html>